.root {
    font-family: 'Exo 2', sans-serif !important;
}

.bg-dark {
    background-color: black !important;
}

.btn-outline-warning:hover {
    color: black !important;
}

.card-shadow:hover {
    background-color: #ffc107 !important;
    color: whitesmoke !important;
    cursor: pointer !important;
}